@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 158 60% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 158 20% 92%;
    --secondary-foreground: 158 60% 25%;
    --muted: 158 10% 94%;
    --muted-foreground: 158 10% 40%;
    --accent: 158 20% 92%;
    --accent-foreground: 158 60% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 158 10% 88%;
    --input: 158 10% 88%;
    --ring: 158 60% 25%;
    --radius: 0.75rem;
    --sidebar: 157 53% 13%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-accent: 157 52% 20%;
  }

  .dark {
    --background: 157 30% 7%;
    --foreground: 0 0% 98%;
    --card: 157 30% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 157 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 158 60% 40%;
    --primary-foreground: 157 53% 13%;
    --secondary: 157 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 157 30% 15%;
    --muted-foreground: 158 20% 65%;
    --accent: 157 30% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 157 30% 18%;
    --input: 157 30% 18%;
    --ring: 158 60% 40%;
    --sidebar: 157 53% 11%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-accent: 157 52% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
